


<div>
    <p><%= comentario.nombre %></p>
    <p><%= comentario.texto %></p>
    <p>Creado el <%= comentario.created_at.strftime("%d-%m-%Y") %></p>

    <%= link_to "Eliminar", [comentario.articulo, comentario], method: :delete, data: {confirm: "¿Seguro que quieres eliminar el comentario?"} %>
    <hr>
</div>

    