<%= provide(:titulo, 'Home') %>

<h1>Hola</h1>
<div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, dolore asperiores veniam consequuntur magnam quos praesentium nam nihil nostrum laudantium quis ipsam non, aspernatur sint voluptate quia illo temporibus ipsa.</div>